.frame-page {
    min-height: 100vh;

    padding: 40px;

    text-align: center;

    background: linear-gradient(
        135deg,
        #ffe4f1,
        #f0e5ff
    );
}

.frame-grid {
    margin-top: 40px;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}

.frame-card {
    width: 250px;

    background: white;

    border-radius: 20px;

    padding: 15px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.frame-card:hover {
    transform: translateY(-8px);
}

.frame-card img {
    width: 100%;

    border-radius: 15px;
}