* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}